*{
    box-sizing: border-box;
    margin: 0;

}

:root{
    --colour-one: rgb(0,0,0);
    --colour-two: rgb(100,100,100);
    --colour-three: rgb(180,180,180);
    --colour-four: rgb(240,240,240);
    --border-one: dashed 2px white;
}

#grid-container-bg{
    background-color: var(--colour-one);
    width: 71vh;
    height: 100vh;
    /* width: 100vw;
    height: 177vw; */
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1.5fr 1fr 1fr 1fr 1.5fr;
    gap: 10px;


}

.grid-item-one{
   
    display: grid;
}

#box-one{
    grid-row: 1/3;
    grid-column: 1/3;
    background-color: var(--colour-two);
   
}
#box-two{
    grid-row: 1/2;
    grid-column: 3/5;
    background-color: var(--colour-three);
    
}

#box-three{
    grid-row: 2/3;
    grid-column: 3/5;
    background-color: var(--colour-four);
}

#box-four{
    grid-row: 3/5;
    grid-column: 4/5;
    background-color: var(--colour-two);
}
#box-five{
    grid-row: 3/5;
    grid-column: 2/4;
    background-color: var(--colour-three);
}